<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SharePostApp</h1>
    <span class="menu-spacer"></span>
    <div style="display: flex; justify-content: flex-end; width: 100%;">
      <div *ngIf="!authenticationService.isLogin()">
        <a mat-button [routerLink]="'/auth/login'">Login</a>
      </div>
      <div *ngIf="authenticationService.isLogin()">
        <a mat-button (click)="logout()">Logout</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a *ngIf="authenticationService.isLogin()" mat-list-item [routerLink]="'/client/posts'">
        <mat-icon matListIcon>crop_original</mat-icon>
        Posts
      </a>
      <a *ngIf="!authenticationService.isLogin()" mat-list-item [routerLink]="'/auth/login'">
        <mat-icon matListIcon>dashboard</mat-icon>
        Login
      </a>
      <a *ngIf="authenticationService.isLogin()" mat-list-item (click)="logout()">
        <mat-icon matListIcon>dashboard</mat-icon>
        Logout
      </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>
        <mat-icon matListIcon>close</mat-icon>
        Close
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 84vh;">

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>